{{Template:NJMU-China/loading}}
{{Template:NJMU-China/init}}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="https://2021.igem.org/wiki/images/e/e2/T--NJMU-China--favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team:NJMU-China</title>
    <script type="module" crossorigin
        src="https://2021.igem.org/Template:NJMU-China/JS/Implementation?action=raw&ctype=text/javascript"></script>
    <link rel="modulepreload"
        href="https://2021.igem.org/Template:NJMU-China/JS/index?action=raw&ctype=text/javascript">
    <link rel="modulepreload"
        href="https://2021.igem.org/Template:NJMU-China/JS/vendor?action=raw&ctype=text/javascript">
    <link rel="modulepreload"
        href="https://2021.igem.org/Template:NJMU-China/JS/DocTemplate?action=raw&ctype=text/javascript">
    <link rel="modulepreload"
        href="https://2021.igem.org/Template:NJMU-China/JS/DocH3?action=raw&ctype=text/javascript">
    <link rel="modulepreload"
        href="https://2021.igem.org/Template:NJMU-China/JS/DocImg?action=raw&ctype=text/javascript">
    <link rel="modulepreload"
        href="https://2021.igem.org/Template:NJMU-China/JS/DocImgDetail?action=raw&ctype=text/javascript">
    <link rel="modulepreload"
        href="https://2021.igem.org/Template:NJMU-China/JS/DocTop?action=raw&ctype=text/javascript">
    <link rel="modulepreload"
        href="https://2021.igem.org/Template:NJMU-China/JS/DocLink?action=raw&ctype=text/javascript">
    <link rel="stylesheet" href="https://2021.igem.org/Template:NJMU-China/CSS/index?action=raw&ctype=text/css">
    <link rel="stylesheet" href="https://2021.igem.org/Template:NJMU-China/CSS/DocImg?action=raw&ctype=text/css">
    <link rel="stylesheet" href="https://2021.igem.org/Template:NJMU-China/CSS/DocTemplate?action=raw&ctype=text/css">
    <link rel="stylesheet" href="https://2021.igem.org/Template:NJMU-China/CSS/DocH3?action=raw&ctype=text/css">
    <link rel="stylesheet"
        href="https://2021.igem.org/Template:NJMU-China/CSS/Implementation?action=raw&ctype=text/css">
</head>

<body>
    <div id="app"></div>

</body>

</html>